.o_hr_report_footer       { border-top: 1px solid #ccc; padding-top: 4px; font-size: 10px; }
.o_hr_report_header       { margin-bottom: 20px; padding-bottom: 8px;
                            border-bottom: 2px solid #495057; overflow: hidden; }
.o_hr_report_logo         { float: left; height: 75px; width: auto; }
.o_hr_report_company      { float: right; text-align: right; font-size: 11px; line-height: 1.4; }
.o_hr_report_company_name { font-size: 14px; }

.o_hr_report_thead        { background-color: #e9ecef; }

.o_hr_status_planned      { background-color: #ffe082; }
.o_hr_status_done         { background-color: #a5d6a7; }
.o_hr_status_cancelled    { background-color: #ef9a9a; }
